button
    width 180px
    height 60px
    padding 0
    line-height 60px
    border none
    border-radius: 4px;
    color #fff
    font-size 24px
    a
        display block
        line-height 64px
.pt20
    padding-top 20px
.pt30
    padding-top 30px
.p32-child > *
    padding 32px
.pb210
    padding-bottom 210px
.mb10
    margin-bottom 10px
.mb12
    margin-bottom 12px
.mb18
    margin-bottom 18px
.mr20
    margin-right 20px
.mt20
    margin-top 20px
.mr30
    margin-right 30px
.mb40
    margin-bottom 40px
.mb46
    margin-bottom 46px
.mt50
    margin-top 50px
.mr50
    margin-right 50px
.mb50
    margin-bottom 50px
.mt90
    margin-top 90px
.mb90
    margin-bottom 90px
.mb105
    margin-bottom 105px
.mt120
    margin-top 120px
.mt140
    margin-top 140px
.mb150
    margin-bottom 150px
.relative
    position relative

.fr
    float right

.center
    text-align center
.middle
    vertical-align middle
.white
    color #fff

.bg-theme
    background-color #3155fc
.flex
    display flex
.flex1
    flex 1
.inline
    display inline-block
