.init-content
    .el-circle
        border-radius 20px

    .el-button--primary
        background: $theme
        border-color: $theme

    .el-button--primary:hover
        background: $hover
        border-color: $hover

    .el-button--primary:focus
        background: $theme
        border-color: $theme
    .el-button--primary.is-plain
        color $theme
        border-color $theme
        background: #fff

    .el-pagination
        padding 0 32px
        text-align right
    .el-table
        margin-bottom 32px
    .el-button--text
        color $theme

    .el-form-item:last-child
        margin-bottom 0

    .el-form, .el-form-item__label, .el-input__inner
        color $secondC
    .el-dialog__title
        font-size 20px
    .el-dialog__footer
        padding-bottom 40px
        .el-button--medium
            width 120px
            padding-top 12px
            padding-bottom 12px
            border-radius 30px
            font-size 16px
    .el-table
        color #1f2d3d
    .el-checkbox__input.is-checked+.el-checkbox__label
        color #4865FF
    .el-checkbox__input.is-checked .el-checkbox__inner
        background-color  #4865FF
        border-color  #4865FF
    .el-range-editor.el-input__inner
        padding-top 1px
        padding-bottom 1px
        height 36px
        line-height 36px
    .el-tag .el-tag__close:hover
        font-size 13px
        color $theme
        background-color #fff
