body, html {
    line-height: 1.4;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', "Microsoft Yahei", arial, sans-serif, 'Droid Sans Fallback', SimSun;
    background: #fff;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    min-width 1260px
}
/* 清楚元素内外边距 边框 */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, tt, u, i, dl, dt, dd, ol, ul, li, form, label,table, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav, section, input {
    margin: 0;
    padding: 0;
    border: 0;
}

/* 设置盒模型标准 */
div, header, a{
    box-sizing: border-box;
}
img, span, p
    vertical-align middle
p
    color #333
h2
    font-weight 600
h3, h4, .h4
    font-weight 500
h2
    font-size 42px
h3
    font-size 28px
h4, .h4, .f24
    font-size 24px
.h4
    display inline-block
a
    color: inherit
    -webkit-backface-visibility: hidden
    text-decoration: none
