$theme = #4865FF // 主题色 深蓝
$hover = #5f7fff // 主题色hover色 淡蓝
$gray = #f0f2f5 // 主题 背景灰色
$ground = #f9fafc // 内容区的背景灰色

$mainC = #1a173b // 深黑色(标题)
$secondC = #1f2d3d // 内容文本主色
$tipC = #8492a6 // 补充性文字颜色 浅灰色

$bdC = #c0c4cc // 输入框边框颜色
$bC = #ebedf8 // 分割线、边框颜色 浅灰色
$bY = #d3dce6 // 分割线 比b稍重（患者查询详情页 随访记录 的顺向分割线）

$err=#F0166D
$disabled=#647286
