.data-table
    display flex
    margin-bottom 32px
    line-height 1.5
    color #666
    text-align center

.text
    font-size 24px
    color #07f
.after-panel .text
    color #ff0266
.old-text
    font-size 16px
    color #333
.main-title
    margin-top 40px
    margin-bottom 30px
    .h3
        margin-right 14px
    .h3, img
        vertical-align middle
    img
        cursor pointer
    .el-icon-upload
        color $theme
        font-size 24px
        transform rotate(180deg)
        vertical-align middle
.chart-panel
    padding 32px
    border 1px solid  #ECECEC
    .h4:before
        content ''
        display inline-block
        width 8px
        height 24px
        margin-left -33px
        margin-right 25px
        background #07F
        vertical-align -5px
.pie-list
    display inline-block
    position relative
    padding 16px 54px
.pie-box
    width 136px
    height 136px
.chart-txt
    position absolute
    width 136px
    height 136px
    margin-top -100px
    text-align center
    p
        font-size 30px
    .txt
        color #637280
.data-list
    display inline-block
    vertical-align: top;
    padding-top: 16px;
.list-item
    width 180px
    text-align center
    font-size 17px
    line-height 34px
    border 1px solid  #c0ccda
    border-radius 20px
.list-item:not(:last-child)
    margin-bottom 14px

.flex
    margin 0 -32px
.before-panel, .after-panel
    padding: 20px 50px
    background #fdfdfd
    border 1px solid #e9ecef
    border-radius 4px
.before-panel
    display flex
    margin-right 6px
.panel-title
    padding-top 21px
    margin-right 30px
.panel-list
    width 150px
.mid-line, .text
    line-height 62px
#download
    color #fff
.kfz-skl-no-data
    display flex
    justify-content center
    align-items center
    background #fff
    flex-direction column
    color #e5e9f2
    &-svg
        font-size 200px
        color #ccc
        cursor auto
    &-txt
        font-size 24px
        text-align center
        color #ccc